
body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding-top: 75px;
}

footer {
  margin-top: 5em;
  font-size: 65%;
  text-align: center;
}

/*
 * Navigation bar/header
 */
.navbar {
  border-bottom: #6b056b 3px solid; 
}
.navbar-brand {
  color: #910a91;
  font: 36px 'Righteous', monospace, sans-serif;
  padding-bottom: 2px;
}
.navbar a {
  color: #6b056b;
}
.navbar a:hover {
  color: #4e1797;
}

/*
 * General alignment classes
 */
 .alignleft {
	float: left;
}
.alignright {
	float: right;
}
.clear-fix {
  clear: both;
}
.alignedsection a, .alignedsection button, .alignedsection form {
  margin-left: 10px;
}

/*
 * general button classes
 */

button img {
  padding-left: 10px;
}

/*
 * User form - login, signup
 */
.user-form {
padding: 10px;
background: #f2f2f2;
margin: auto;
width: 40%;
border-radius: 10px;
}

/*
 * bucket form (bucket and goal)
 */
.bucket-form {
  padding: 10px;
  background: #f2f2f2;
  margin: auto;
  width: 65%;
  border-radius: 10px;
}

.description-input {
  min-width: 100%;
}

/*
 * user home page classes
 */
 .user-heading {
   margin-bottom: 30px;
 }
.user-buckets {
  width: 90%;
  margin: auto;
}
.goals-btn {
  border: 1px solid #910a91;
  font-weight: bold;
  text-align: left;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.bucket-contents {
  margin: 20px;
  padding: 10px; 
  background: #e4eae3;
}
.bucket-goals {
  background: #e4eae3;
  margin-top: 5px;
  padding: 20px 20px 0px 20px;
  text-align: left;
}
.bucket-goals li {
  margin-bottom: 1em;
}
.bucket-goals h4, .bucket-goals a, .bucket-goals form {
  display: inline;
}

/*
 * images (for goals and ideas)
 */
.goal-img, idea_img {
  width: 150px;
  height: 150px;
  margin: 5px;
}

/*
 * Ideas page
 */
.idea-contents {
  background: #e4eae3;
  margin-top: 5px;
  padding: 20px;
  text-align: left; 
}