
body {
  margin: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  padding-top: 75px;
}
/*
.heading {
text-align: left;
border-bottom: 5px solid #910a91;
color: #910a91;
font: 21px 'Source Code Pro', monospace, sans-serif;
font-weight: bold; 
}
.heading h1 {
margin-bottom: 1px;
}*/
.navbar-brand {
  color: #910a91;
  font: 21px 'Source Code Pro', monospace, sans-serif;
  font-weight: bold; 
}

.login-form {
padding: 10px;
background: #f2f2f2;
margin: auto;
width: 30%;
border-radius: 10px;
}
