
body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding-top: 75px;
}

/*
 * Navigation bar/header
 */
.navbar {
  border-bottom: #6b056b 3px solid; 
}
.navbar-brand {
  color: #910a91;
  font: 36px 'Righteous', monospace, sans-serif;
  padding-bottom: 2px;
}
.navbar a {
  color: #6b056b;
}
.navbar a:hover {
  color: #4e1797;
}

/*
 * General alignment classes
 */
 .alignleft {
	float: left;
}
.alignright {
	float: right;
}
.clear-fix {
  clear: both;
}

/*
 * User form - login, signup
 */
.user-form {
padding: 10px;
background: #f2f2f2;
margin: auto;
width: 30%;
border-radius: 10px;
}

.bucket-btn {
  background: yellow;
  color: black;
  margin-bottom: 5px;
}
.bucket-contents {
  padding-left: 20px;
}
