<h3>Create Bucket</h3>
<form action="/buckets" method="POST" id="new_bucket_form">
    <label for="name">Name:</label><input type="text" id="name" name="name"required ><br>
	<label for="description">Description:</label><textarea id="description" name="description"></textarea><br>
    <button class="btn" type="submit"form="new_bucket_form" value="Submit">Create</button>
    <a class="btn" href="/user_home">Cancel</a>
</form>