<h1>Welcome to BucketList</h1>
<form class="user_form" action="/login" method="post">
  <h3>Log In Please</h3>
  <label for="email">Email:</label><input type="email" id="email" name="email"><br/>
  <label for="password">Password:</label><input type="password" id="password" name="password"><br/>
  <button type="submit" id="submit" value="submit">Log In</button>
</form>
