<h2 >Welcome, <%=@user.name%></h2>
<a class="user-button"href="/logout">Logout</a>

<ul>
    <% @buckets.each do |bucket| %>
        <li><a href="/buckets/<%=bucket.id%>"><%=bucket.name%></a></li>
    <% end %>
</ul>
